<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLTabulateBuckets"
	iconfile="tabulatebuckets.png"
	description="TabulateBuckets"
	tooltip="TabulateBuckets" 
	category="HPCC EDA"
	classname="org.hpccsystems.pentaho.job.ecltabulatebuckets.ECLTabulateBuckets">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="ecltabulatebuckets.jar"/>
    </libraries>            
</plugin>
