<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLPercentileBuckets"
	iconfile="percentilebuckets.png"
	description="PercentileBuckets"
	tooltip="PercentileBuckets" 
	category="HPCC EDA"
	classname="org.hpccsystems.pentaho.job.eclpercentilebuckets.ECLPercentileBuckets">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclpercentileBuckets.jar"/>
    </libraries>            
</plugin>
