<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ECLDataset"
	iconfile="dataset.png"
	description="Dataset"
	tooltip="Dataset" 
	category="HPCC Systems"
	classname="org.hpccsystems.pentaho.job.ecldataset.ECLDataset">
            
    <libraries>
	  <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="ecldataset.jar"/>
    </libraries>            
</plugin>
